const config = {
  environment: process.env.NODE_ENV || 'dev',
  server: {
    port: process.env.PORT || 80
  },
  mongo: {
    url: process.env.MONGO_DB_URI || 'mongodb://freeiot:12345678@localhost/freeiot-api'
  },
  mqtt: {
    port: 1883,
    backend: {
      // using ascoltatore
      type: 'mongo',
      url: process.env.MQTT_DB_URI || 'mongodb://freeiot:12345678@localhost/mqtt',
      pubsubCollection: 'ascoltatori',
      mongo: {}
    }
  },
  key: {
    jwt: '',
    pass: ''
  }
}

module.exports = config
